:root {
    --cor-background: #FFF8E1;
    --cor-principal: #4E342E;
    --cor-secundaria: #8D6E63;
    --cor-botoes: #795548;
    --cor-hover: #6D4C41;
    --cor-hover02: #FFECB3;
    --cor-especifica: #D7CCC8;
    --cor-click: #E0B978;

    --fonte-titulo: "Itim", cursive;
    --fonte-secundaria: 'Inter';
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-background);
    color: var(--cor-principal);
    font-family: var(--fonte-secundaria);
    font-size: 1em;
    font-weight: 400;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 40% 60%;
}

.principal {
    background-image: url("../assets/background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container__caixa {
    margin: 0 6em;
}

.container__titulo {
    font-family: var(--fonte-titulo);
    font-size: 1.8em;
    margin-top: 1em;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__ancora {
    background-color: var(--cor-botoes);
    border-radius: 5px;
    padding: 1em;
    color: var(--cor-especifica);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.container__ancora:hover {
    background-color: var(--cor-hover);
}

.ancora__secundaria {
    background-color: transparent;
    border: solid 2px var(--cor-botoes);
    color: var(--cor-principal);
}

.ancora__secundaria:hover {
    background-color: var(--cor-hover02);
}

.container__aviso {
    color: var(--cor-secundaria);
    font-size: 0.8em;
}

.secundario {
    grid-template-columns: 50% 50%;
    align-items: center;
    margin: 0 2em;
}

.imagem__secundaria {
    width: 80%;
}

.descricao__titulo {
    font-size: 3em;
    font-family: var(--fonte-titulo);
    margin-bottom: 0.1em;
}

.descricao__texto {
    color: var(--cor-secundaria);
}

.container__descricao {
    padding: 4em;
}

.ancora__terciaria {
    display: inline-block;
    margin-top: 1em;
}

.secao-formas__titulo {
    text-align: center;
    font-family: var(--fonte-titulo);
    font-size: 3em;
    color: var(--cor-principal);
    margin-top: 3em;
}

.lista {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 5em 0em;
}

.lista__item {
    text-align: center;
}

.lista__item__texto {
    margin: 1em 0em;
    font-size: 1.5em;
    color: var(--cor-secundaria);
    font-weight: 500;
}

.rodape {
    margin-top: 3em;
    background-color: var(--cor-principal);
    text-align: center;
    position: absolute;
    width: 100%;
}

.rodape__logo {
    margin-top: 2em;
}

.rodape__links {
    display: flex;
    justify-content: space-evenly;
    margin: 2em 9em;
}

.rodape__link {
    text-decoration: none;
    color: var(--cor-background);
    font-size: 1em;
}

.rodape__link:hover {
    color: var(--cor-hover02);
}

.rodape__link:active {
    color: var(--cor-click);
}

.rodape__texto {
    color: var(--cor-secundaria);
    font-size: 0.9em;
    margin: 1em 0em 1em;
}

@media screen and (max-width: 768px) {
    .container {
        display: block;
        background-image: none;
        height: 36vh;
    }

    .container__caixa {
        margin: 2em 2em;
    }

    .container__imagem {
        width: 50vw;
    }

    .secundario {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 18em;
    }

    .imagem__secundaria {
        width: 40vw;
    }

    .descricao__titulo {
        font-size: 2.2em;
        font-family: var(--fonte-titulo);
        font-weight: 100;
    }

    .descricao__texto {
        font-size: 1.2rem;
        margin-top: 1em;
    }

    .container__descricao {
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
    }

    .ancora__terciaria {
        display: inline;
        width: 70%;
        margin: auto;
        text-align: center;
        padding: 3% 2%;
        margin-top: 1em;
    }
    .lista {
        display: block;
        margin: 0em;
    }

    .rodape__links {
        display: block;
    }

    .secao-formas__titulo {
        font-size: 2.2em;
        font-weight: 100;
        padding: 10%;
        margin-top: 4em;
    }

    .lista__item__imagem {
        width: 40vw;
    }

    .rodape__logo {
        width: 10vh;
    }

    .container__titulo {
        font-size: 0.9em;
    }

    .logo {
        width: 15vh;
    }
}


@media screen and (max-width: 425px) {
    .container {
        display: block;
        background-image: none;
        height: 36vh;
    }

    .container__caixa {
        margin: 2em 2em;
    }

    .container__imagem {
        width: 50vw;
    }

    .secundario {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 4em;
    }

    .imagem__secundaria {
        width: 50vw;
    }

    .descricao__titulo {
        font-size: 1.4em;
        font-family: var(--fonte-titulo);
        font-weight: 100;
    }

    .descricao__texto {
        font-size: 0.75rem;
        margin-top: 0.7em;
    }

    .container__descricao {
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
    }

    .ancora__terciaria {
        display: inline;
        width: 70%;
        margin: auto;
        text-align: center;
        padding: 3% 2%;
        margin-top: 1em;
    }
    .lista {
        display: block;
        margin: 0em;
    }

    .rodape__links {
        display: block;
    }

    .secao-formas__titulo {
        font-size: 1.4em;
        font-weight: 100;
        padding: 10%;
        margin-top: 4em;
    }

    .lista__item__imagem {
        width: 40vw;
    }

    .rodape__logo {
        width: 10vh;
    }

    .container__titulo {
        font-size: 0.9em;
    }

    .logo {
        width: 15vh;
    }
}
